tiingo_api_token=Paste_your_Tiingo_API_token_here
gc_service_account_json_path=Paste_your_GCP_service_key_file_name_here_ideally: gcp_key.json
project_id=Paste_your_GCP_project_id_here
dataset_name=Paste_your_GCP_BigQuery_dataset_name_here
project_file_path=Paste_the_project_absolute_filepath_here

AFTER CONFIGURING REMOVE THE .EXAMPLE FROM THE NAME AND DELETE THIS ROW.